<!DOCTYPE html>
<html>

<style>
    .row {
        height: 130px;
    }
</style>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Charter</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Charter Indexing Site</a>
    <ul class="navbar-nav">
        <div class="col-md-1"></div>
        <li class="nav-item">
            <a class="nav-link" href="#">Origin:</a>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Pick Origin-{{ origin }}
                </button>
                <div class="dropdown-menu">
                    {% if origin == 'THR' or destination == 'THR' %}
                        <a class="dropdown-item" href="#">Tehran</a>
                    {% else %}
                        <a class="dropdown-item" href="/charter/THR/{{ destination }}">Tehran</a>
                    {% endif %}
                    {% if origin == 'MHD' or destination == 'MHD' %}
                        <a class="dropdown-item" href="#">Mashad</a>
                    {% else %}
                        <a class="dropdown-item" href="/charter/MHD/{{ destination }}">Mashad</a>
                    {% endif %}
                    {% if origin == 'KIH' or destination == 'KIH' %}
                        <a class="dropdown-item" href="#">Kish</a>
                    {% else %}
                        <a class="dropdown-item" href="/charter/KIH/{{ destination }}">Kish</a>
                    {% endif %}
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Destination:</a>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Pick Destination-{{ destination }}
                </button>
                <div class="dropdown-menu">
                    {% if origin == 'MHD' or destination == 'MHD' %}
                        <a class="dropdown-item" href="#">Mashad</a>
                    {% else %}
                        <a class="dropdown-item" href="/charter/{{ destination }}/MHD/">Mashad</a>
                    {% endif %}
                    {% if origin == 'THR' or destination == 'THR' %}
                        <a class="dropdown-item" href="#">Tehran</a>
                    {% else %}
                        <a class="dropdown-item" href="/charter/{{ destination }}/THR/">Tehran</a>
                    {% endif %}
                    {% if origin == 'KIH' or destination == 'KIH' %}
                        <a class="dropdown-item" href="#">Kish</a>
                    {% else %}
                        <a class="dropdown-item" href="/charter/{{ destination }}/KIH/">Kish</a>
                    {% endif %}
                </div>
            </div>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row ">
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
            <center>شمبه</center>
        </div>
        <div class="col-md-1">
            <center>یه شمبه</center>
        </div>
        <div class="col-md-1">
            <center>دو شمبه</center>
        </div>
        <div class="col-md-1">
            <center>سه شمبه</center>
        </div>
        <div class="col-md-1">
            <center>چار شمبه</center>
        </div>
        <div class="col-md-1">
            <center>پنج شمبه</center>
        </div>
        <div class="col-md-1">
            <center>جمعه</center>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        {% with ''|center:wb as range %}
            {% for _ in range %}
                <div class="col-md-1">
                </div>
            {% endfor %}
        {% endwith %}
        {% for key, value in w1.items %}
            <div class="col-md-1">
                <a href="http://www.{{ value.1 }}/Systems/FlightCheapestPriceBar.aspx?Origin={{ origin }}&Destination={{ destination }}">
                    <div class="card">
                        <div class="card-header">
                            <center>{{ key }}</center>
                        </div>
                        <div class="card-body">
                            <center>{{ value.0 }}</center>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        {% for key, value in w2.items %}
            <div class="col-md-1">
                <a href="http://www.{{ domain }}/Systems/FlightCheapestPriceBar.aspx?Origin={{ origin }}&Destination={{ destination }}">
                    <div class="card">
                        <div class="card-header">
                            <center>{{ key }}</center>
                        </div>
                        <div class="card-body">
                            <center>{{ value }}</center>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        {% for key, value in w3.items %}
            <div class="col-md-1">
                <a href="http://www.{{ domain }}/Systems/FlightCheapestPriceBar.aspx?Origin={{ origin }}&Destination={{ destination }}">
                    <div class="card">
                        <div class="card-header">
                            <center>{{ key }}</center>
                        </div>
                        <div class="card-body">
                            <center>{{ value }}</center>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        {% for key, value in w4.items %}
            <div class="col-md-1">
                <a href="http://www.{{ domain }}/Systems/FlightCheapestPriceBar.aspx?Origin={{ origin }}&Destination={{ destination }}">
                    <div class="card">
                        <div class="card-header">
                            <center>{{ key }}</center>
                        </div>
                        <div class="card-body">
                            <center>{{ value }}</center>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        {% for key, value in w5.items %}
            <div class="col-md-1">
                <a href="http://www.{{ domain }}/Systems/FlightCheapestPriceBar.aspx?Origin={{ origin }}&Destination={{ destination }}">
                    <div class="card">
                        <div class="card-header">
                            <center>{{ key }}</center>
                        </div>
                        <div class="card-body">
                            <center>{{ value }}</center>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        {% for key, value in w6.items %}
            <div class="col-md-1">
                <a href="http://www.{{ domain }}/Systems/FlightCheapestPriceBar.aspx?Origin={{ origin }}&Destination={{ destination }}">
                    <div class="card">
                        <div class="card-header">
                            <center>{{ key }}</center>
                        </div>
                        <div class="card-body">
                            <center>{{ value }}</center>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
<span class="spinner-grow"></span>
<div class="container">
</div>
</body>

</html>